* {
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* footer */

footer{
    margin-top: 4em;
    font-size: 13px;
    opacity: 0.5;
    padding: 1em 2em;
    line-height: 1.5rem;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

span{
    padding: 0 6px;
}

/* container */


.img-container{
    display: none;
}


.insta-container{
    text-align: center;
    box-sizing: border-box;
    width: 350px;
    height: 550px;

}

/* apple and google logo */

.logo-container{
    display: flex;
    justify-content: center;
}

.logo-container img{
    width: 130px;
}

.logo-apple{
    margin-right: 5px;
}

.logo-google{
    margin-left: 5px;
}


/* login area */

.login-container, .sign-up{
    background-color: white;
}

.login-container, .sign-up, .input-name, .input-pswd{
    border: 1px solid #dbdbdb;

}

.login-container{
    padding: 0 2.5em;
    margin-bottom: 10px;
}

.logo-insta{
    width: 100%;
}

.sign-up{
    width: 100%;
    padding: 1.5em 0;
}

.click-sign-up{
    text-decoration: none;
    font-weight: bold;
    color: #31a1f7;
}

/* form */

.input-name, .input-pswd, .btn{
    width: 100%;
}

.input-name, .input-pswd {
    box-sizing: border-box;
    background-color: #fafafa;
    font-size: 12px;
    padding: 13px 10px;
    opacity: 0.9;
    
}

.input-name{
    margin-bottom: 8px;
}

.input-pswd{
    margin-bottom: 15px;
}

.btn{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    background-color: #0095f6;
    font-weight: bold;
    opacity: 0.3;
}

/* after form */

h4{
    opacity: 0.4;
    margin: 20px 0;
}

h4::before, h4::after{
    content: "";
    display: inline-block;
    width: 40%;
    border-top: 1px solid gray;
    position: relative;
    top: -5px;

}

h4::before{
    left: -15px;
}

h4::after{
    left: 15px;
}

.facebook, .password{
    margin-bottom: 1.5em;
    color: #385195;
    cursor: pointer;

}

.facebook{
    font-weight: bold;
}

.logo-facebook{
    transform: scale(1.3);
    margin-right: 5px;
}

.password{
    font-size: 12px;
}

.app{
    margin: 1.5em 0;
}